[submodule "piss-blockchain-gui"]
	path = piss-blockchain-gui
	url = https://github.com/piss-Network/piss-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/piss-Network/mozilla-ca.git
        branch = main
